.holding{

    margin: 0px 0;
    margin-left: 280px;
    width: calc(100% - 280px);
    background-color: #f2f5f4; //f4f6f5;
    padding: 0 10px;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 105px;

}