.table__heading_title_2{

    padding: 10px 0px;

}

.tab_flex{

    // flex-direction: column;
    // justify-content: flex-start !important;
    // align-items: flex-start !important;
    // background-color: green;
    // width: 10% !important;
    gap: 5px !important;
    flex-wrap: wrap;
}